[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
sqlalchemy = "*"
requests = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
postgres = "*"
pytest = "*"
httmock = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.11"
